<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CRUDy Book Browser</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body class="container-fluid">
     <a href="/" class="btn btn-default">
      <i class="bi bi-chevron-left"></i>
    </a>
    <h1>
      Edit Course 
    </h1>
    <form action="/api/course/<%= course.id %>?_method=PUT" method = "POST">
      <div class="form-group">
                        <label for="id">Course ID</label>
      <input type="number" name="id" id="id" class="form-control" value="<%= course.course_id %>" required>
      </div>
              <div class="form-group">
        <label for="course_name">Name</label>
      <input type="text" name="course_name" id="course_name" class="form-control" value="<%= course.name %>" required>
        </div>
              <div class="form-group">
                <label for="instructor">Instructor</label>
      <input type="text" name="instructor" id="instructor" class="form-control" value="<%= course.instructor %>" required>        
      </div>
                    <div class="form-group">
                <label for="day">Meeting Day</label>
      <input type="text" name="day" id="day" class="form-control" value="<%= course.meeting_day %>" required>        
      </div>
                    <div class="form-group">
                <label for="time">Meeting Time</label>
      <input type="text" name="time" id="time" class="form-control" value="<%= course.meeting_time %>" required>        
      </div>
          <div class="form-group">
                <label for="building">Building ID</label>
      <input type="text" name="building" id="building" class="form-control" value="<%= course.building %>" required>        
      </div>
      
      <button type="submit" class="btn btn-primary">
        Save Course
      </button>
    </form>
  </body>
</html>
