<!DOCTYPE html>
<html lang="en">

<head>
    <title>CRUDy Book Browser</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body class="container-fluid">
    <a href="/" class="btn btn-default">
        <i class="bi bi-chevron-left"></i>
    </a>
    <h1>
        Students
    </h1>
                  <a href="add-student">
                    Add a student
                </a>
    <% if (students) { %>
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Courses</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% students.forEach(function(student){ %>
                    <tr>
                        <td><a href = "/api/student/<%=student.id %>" ><%=student.student_id %></a></td>
                        <td><%=student.first_name %></td>
                        <td><%=student.last_name %></td>
                        <td> <% student.courses.forEach(function(course){%>
                          <ol>
                            
                       
                               <li><a href = "/api/course/<%=course.course1 %>" ><%=course.course1 %></a></li>
                              <li><a href = "/api/course/<%=course.course2 %>" ><%=course.course2 %></a></li>
                               <li><a href = "/api/course/<%=course.course3 %>" ><%=course.course3 %></a></li>   </ol>
                        </td>
                        <td>
                            <form action="/api/edit-student/<%= student.id %>" method="GET">
                                <button type="submit" class="btn btn-default">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="/api/student/<%= student.id %>?_method=DELETE" method="POST">

                                <button type="submit" class="btn btn-default">
                                    <i class="bi bi-trash">
                            </form>
                        </td>
                    </tr>
                    <% })}); %>
            </tbody>
        </table>
        <% } else { %>
            <p>There are no students in the database.</p>
            <% } %>

              <br><br><br>
</body>

</html>